<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% block content %}
    {% if autor %}
        {% for autor in autores %}
           <br>{{ autor.nombre }}</br>
        {% endfor %}
    {% else %}
        {% for dato in datos %}
            {% for libro,autor in dato.items %}
                <label>Nombre libro: </label>
                    {{ libro.nombre }}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}
</body>
</html>