{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/root.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/grid.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/typography.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-plugin-base.css" />


	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.11.custom.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-settings.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/toogle.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tipsy.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.wysiwyg.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/raphael.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/analytics.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/popup.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/fullcalendar.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.mouse.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.slider.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.datepicker.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.tabs.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.accordion.js"></script>
</head>
<body>





<!--<div style="position:fixed; left:0;box-shadow:0px 1px 2px #D6D6D6; top:200px; background:#fff; border:1px solid #D6D6D6;  border-bottom-right-radius: 11px;   border-top-right-radius: 11px;border-left:none; color:#5594C2; font-size:11px; font-weight:bold; padding:19px; text-align:center;">
	<div style="border-bottom:1px solid #D6D6D6; padding-bottom:9px; margin-bottom:10px;"><img src="mobile/slidenormal/monologo.png" width="63" height="21" alt="img"/></div>
    <div style="border-bottom:1px solid #E3E3E3; padding-bottom:9px;">view style</div><br />
	<a href="index.html" class="tips-right" title="View Cupcake Web" style="display:block; margin-bottom:10px;"><img src="mobile/slidenormal/web.png" width="70" height="72" alt="img"/></a>
	<a href="mobile/index.html" class="tips-right" title="View Cupcake Mobile" style="display:block;"><img src="mobile/slidenormal/mobile.png" width="70" height="72" alt="img"/></a>
</div>
-->
    <div id="searchbox" style="z-index: 880;">
            	<div class="in" style="z-index: 870;">
               	  <form id="form1"  method="POST" action="{% url "buscar" %}">{% csrf_token %}
                  	<input type="text" name="buscalo" class="input" id="textfield"  onfocus="$(this).attr('class','input-hover')" onblur="$(this).attr('class','input')">
               	  </form>
            	</div>
    </div>
{#    <div class = "busqueda">#}
{#        <form class = "navbar-search pull-left" method="POST"  action="{% url "buscar" %}">{% csrf_token %}#}
{#            <input type="text" class="search-query" name="buscalo"#}
{#                   placeholder="Buscar">#}
{#            <div class ="btn-group">#}
{#                <button class="btn btn-primary" type="submit">#}
{#                    <i class="icon-search"></i>#}
{#                </button>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}

    {% if autor %}
        {% for autor in autores %}
           <br>{{ autor.nombre }}</br>
        {% endfor %}
    {% else %}
        {% for dato in datos %}
            {% for libro,autor in dato.items %}
                <label>Nombre libro: </label>
                    {{ libro.nombre }} |
                {% for a in autor %}
                    <label>Nombre autor: </label>
                    {{ a.nombre }}</br>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="loginform">
    	<div class="title"> <img src="{{STATIC_URL}}img/logo.png" width="112" height="35" /></div>
        <div class="body">
       	  <form id="form1" name="form1" method="post" action="">{% csrf_token %}
            {% if user.is_authenticated %}
              BIENVENIDO! {{ user.username | capfirst}}
            <a href="{% url 'logout' %}" class="icon-button"><img src="{{ STATIC_URL }}img/icons/edicion/cross.png" width="18" height="18" alt="icon"/><span>Cerrar sesion</span></a>
            {% else %}
          	<label class="log-lab">Nombre de usuario</label>
            <input name="username" type="text" class="login-input-user" id="textfield" value="Usuario"/>
          	<label class="log-lab">Password</label>
            <input name="password" type="password" class="login-input-pass" id="textfield" value="Password"/>
            <input type="submit" name="button" id="button" value="Login" class="button"/></br>
            <a href="{% url 'registrarse' %}" class="reg">Registrarse</a>
            {% endif %}
       	  </form>
        </div>
    </div>
    
    </div>
</body>
</html>
{% endblock %}