<!DOCTYPE html>
<html>
<head>
    <title>Registrarse</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" name="button" id="button" value="Registrarse" class="button"/></br>
    </form>

</body>
</html>