<!DOCTYPE html>
<html>
<head>
    <title>Registrar Autor</title>
</head>
<body>
    <h1>Registrar Autor</h1>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
   <form method="POST" enctype="multipart/form-data">
       {% csrf_token %}
       {{ form.as_p }}
       <input type="submit" value="Registrar">
   </form>
</body>
</html>