<!DOCTYPE html>
<html>
<head>
    <title>Reportar</title>
</head>
<body>
    <h1>Todos los autores</h1>
<ul>
    {% for autor in object_list %}
        <li><b>Nombre</b>{{ autor.nombre }}</li>
        <li><b>Pais</b>{{ autor.pais }}</li>
        <li><b>Foto</b><img src="{{ MEDIA_URL }}{{ autor.foto }}"></li>
    {% endfor %}]
</ul>
</body>
</html>